.header {
  height: var(--header-height);
  background-color: #1a2233;

  &__container {
    display: flex;
    gap: 2rem;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
}

.app__brand a {
  color: var(--color-brand);
  font-style: italic;
}
